[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
pillow = "*"
django-countries = "*"
django-seed = "*"
psycopg2-binary = "*"
django-dotenv = "*"
requests = "*"
awsebcli = "==3.14.6"
pipenv-to-requirements = "*"
config = "*"
django-environ = "*"
ec2instanceconnectcli = "*"
sentry-sdk = "*"
django-storages = "*"
boto3 = "*"
awscli = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
