{% extends "base.html" %}

{% block page_title %}
    Update Room
{% endblock %}

{% block search-bar %}
{% endblock %}

{% block content %}

    <div class="container lg:w-5/12 md:w-5/8 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-300">

        {% include 'mixins/room/room_form.html' with form=form cta="Update room" %}

        <div class="mt-3 -mb-3">
            <a href="{% url "rooms:photos" room.pk %}" class="text-green-500 font-bold">
                Edit Photos
            </a>
        </div>

        <div class="h-px w-5/6 bg-gray-400 mt-20"></div>

        <a href="{% url "rooms:delete-room" room.pk %}" class="text-lg mt-5 text-red-600 font-bold">
            Delete Room
        </a>


    </div>
{% endblock %}