{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock %}

{% block search-bar %}
{% endblock %}

{% block content %}
        <div class="w-1/3 mx-auto flex flex-col">
            <form method="get" action="{% url "rooms:search" %}">
                <span class="flex flex-col mx-auto">{{ form.as_p }}</span>
                <button class="btn-link">Search</button>
            </form>

            <h3>Results</h3>
            {% for room in rooms %}
                <h3>{{ room.name }}</h3>
            {% endfor %}
        </div>

{% endblock %}