packages:
    yum:
        amazon-linux-extras: []

container_commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql12
    02_postgres_install:
        command: sudo yum install -y postgresql-devel
#     03_seed_amenities:
#         command: "source /var/app/venv/*/bin/activate && python manage.py seed_amenities"
#         leader_only: true
#     04_seed_facilities:
#         command: "source /var/app/venv/*/bin/activate && python manage.py seed_facilities"
#         leader_only: true
    03_seed_users:
        command: "source /var/app/venv/*/bin/activate && python manage.py seed_users --number 20"
        leader_only: true
    04_seed_rooms:
        command: "source /var/app/venv/*/bin/activate && python manage.py seed_rooms --number 30"
        leader_only: true