container_commands:
  01_migrate:
    command: command: sudo python3 aws-replication-installer-init.py --region ap-northeast-2 --aws-access-key-id postgres --aws-secret-access-key **Joseph23 --no-prompt
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:    
    /static: static
    /static_files: static_files
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application