@tailwind base;
@tailwind components;


.search-box{
  transition: box-shadow 0.2s linear;
}

.nav_link{
  @apply font-bold ml-8 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-8 px-5;
  }
  &:hover {
    @apply border-gray-500;
  }
}

.btn{
  @apply text-center rounded py-5 font-bold mb-2 text-lg w-full;
}

.btn-link {
  @apply btn border-2 border-red-300 bg-red-400 text-white text-center py-3 rounded-lg font-bold mb-2 text-lg w-full text-white;
}

input,
textarea,
select {
  @apply rounded py-5 mb-2 w-full text-left border border-gray-400 px-4;
  &:focus {
    @apply outline-none border-green-400
  }
}

//input {
//  @apply
//}

textarea,
select {
  resize: none;
  font-weight: 300;
  font-size: small;
}

textarea {
  height: 100px;
}

form {
  .input {
    &.has_error {
      input {
        @apply border-red-200 border-2;
        &:focus {
          @apply border-red-300 border-2;
        }
      }
    }
  }
}
@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(2px);
  }
  95% {
    opacity: 1;
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-400;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}

.border-section {
  @apply border-b border-gray-300 pb-8 mt-8;
}
@tailwind utilities;
